<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kayya.twitterfollower">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".TFApplication"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FollowerListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".FollowerDetailActivity"
            android:label="@string/title_follower_detail"
            android:parentActivityName=".FollowerListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kayya.twitterfollower.FollowerListActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="05a6a71fd830bddc7ce04db1579450fa67c14464" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
